@property --angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

@keyframes spinBorder {
  to {
    --angle: 1turn;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #f9f9f9;
  --font-color: #224;
  --border-radius: 1.5rem;
  --border-width: 5px;
}

html {
  background: var(--bg-color);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  
  min-height: 100svh;
  
  font-family: system-ui;
  color: var(--font-color);
}

article {
  position: relative;
  width: 50vw;
  max-width: 25em;
  min-width: 20em;
  border-radius: calc(var(--border-radius) - var(--border-width));;
  background:
    conic-gradient(hsl(0 0% 100% / .1) 25%, hsl(0 0% 100% / 0) 25% 50%, hsl(0 0% 100% / .1) 50% 75%, hsl(0 0% 100% / 0) 75%),
    linear-gradient(in oklch 35deg, lightblue, lightpink);
  background-size: 40px 40px, 100% 100%;
  transition: .25s;

  &::before,
  &::after {
    content: '';
    position: absolute;
    inset: calc(var(--border-width) * -1);
    background: conic-gradient(in oklch from var(--angle), dodgerblue, hotpink, dodgerblue);
    z-index: -1;
    border-radius: var(--border-radius);
    animation: spinBorder 3s linear infinite;
  }

  &::after {
    filter: blur(10px);
  }
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 1rem;
  background: 
    linear-gradient(#0000 50%, rgba(255, 255, 255, .3) 50% );

  img {
    border-radius: 50%;
    padding: .3em;
    background: rgba(255, 255, 255, .3);
    height: 10rem;
    width: 10rem;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, .1);
  }
}

section {
  padding: 1rem;
}