*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
  font-family: "Poppins", sans-serif;
  line-height: 1.1;
  text-align: center;
}

article {
  height: 80vh;
  aspect-ratio: 3/4;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1.5rem;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, .25);
}

article header {
  height: 50%;
  width: 100%;
  display: flex;
  flex-shrink: 0;
  flex-grow: 1;
  position: relative;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  background: linear-gradient(-90deg, dodgerblue 50%, #fff7e4 50%);
}

article header img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  padding: .5em;
  background: linear-gradient(90deg, dodgerblue 50%, #fff7e4 50%);
}

article h1 {
  width: 100%;
  background: gray;
  font-size: 1.75em;
  padding-block: .25rem;
}

article section {
  padding: .5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}